*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before
*:after{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
   
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    padding: 8 px 3px;
    background-color: rgb(103, 203, 181);
    color: white;
  }
  .topnav .search-container {
    float: right;
  }
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 18px;
    border: none;
    width: 500px;
    background-color: #fff; 
  }
   
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.topnav{
    position: absolute;
    width: 100%;
    top: 0;
}
.topnav a::after{
    content: "";
    width: 0%;
    height:2px;
    background: #d2a39f;
    display: block;
    margin: auto;
    transition: 0.3s;
  }
  .topnav a:hover::after{
    width: 100%;
  }
  .topnav a:hover {
    background-color: rgb(246, 244, 241);
    color: black;
  }
  .topnav button:hover{
    box-shadow: 0 0 10px rgb(190, 184, 184);
  }
input:hover{
    background-color: #fff;
}
input:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(167, 167, 167);
}
.container{
    max-width: 1050px;
    height: auto;
    margin: 0 auto;
}
.banner{
    margin-top: 30px;
    width: 100%;
    object-fit: cover;

}
.nav-menu {
    clear: both;
  }
  nav {
    line-height: 35px;
    background-color: rgb(25, 167, 136);
  }
  nav ul li {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: 550;
  }
  nav ul a {
    display: block;
    color: #fff;
    padding: 5px 13px;
  }
  nav ul a::after{
    content: "";
    width: 0%;
    height:2px;
    background: rgb(25, 167, 136);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  nav ul a:hover::after{
    width: 100%;
  }
  nav ul a:hover {
    background-color: rgb(113, 191, 174);
  }
  .nav-menu ul li {
    display: inline-block;
    z-index: 2;
  
  }
  .nav-menu ul li a {
      font-size: 17px;
    display: block;
  }
  .nav-menu ul {
    background-color: orangered;
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgb(25, 167, 136);

    /* border-radius: 3px; */
    text-align: center;
  }
  .nav-menu ul ul li a {
    text-decoration: none;
    font-size: 14px;
    /* color: #fff; */
    padding: 0 10px;
    line-height: 40px;
  }
  .nav-menu ul li a:hover {
    color: white;
  }
  .nav-menu ul li {
    position: relative;
  }
  .nav-menu ul ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
  
    box-shadow: 0 0 1px gray;
  }
  .nav-menu ul ul a {
    text-align: left;
    width: 200px;
    display: block;
    line-height: 30px;
    color:rgb(25, 167, 136);
  }
  .nav-menu ul li:hover ul {
    display: block;
  }
  .nav-menu ul ul li a:hover {
    background-color:rgb(113, 191, 174);
    color: #fff;
  }






  .title {
    text-align: center;
    color: rgb(83, 78, 78);
    margin: 10px 0 5px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .col {
    width: 33.33333%;
    float: left;
    padding: 5px;
  }
  .news {
    border: 1px solid #999;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    height: 373px;
  }
  .news a:hover {
    color: rgb(0, 117, 111);
  }
  .news a {
    color: rgb(13, 149, 72);
    font-weight: bold;
    display: block;
    padding: 8px 0;
  }
  footer {
    padding: 2px;
    line-height: 20px;
    background-color: rgb(31, 173, 166);
    display: inline-block;
    color: #e9f8ff;
    text-align: center;
    width: 100%;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .tuyendung h3{
    background-color: rgb(31, 173, 166);
    color: white;
  }
  input {
      width: 100%;
      padding: 5px 8px;
      margin-right: 320px;
      border-radius: 6px;
      border-width: 1px;
      font-size: 15px;
      background-color: rgb(238, 235, 235);
  }
  input:hover{
      background-color: #fff;
  }
  input:focus {
      outline: none !important;
      box-shadow: 0 0 10px rgb(167, 167, 167);
  }
  .desc{
      color: #999;
  }
  .news{
      border-radius: 3px;
  }
  button:hover {
    background: transparent;
    color: black;
    background-color: #f9b7ad ;
  }
  button {
      background: rgb(255, 108, 54);
      align-items: center;
      border-radius: 6px;
      display: block;
      justify-content: center;
      height: 100%;
      transition: background 0.5s ease;
      padding: 5px 20px;
      margin-bottom: 8px;
      color: #ffffff;
      font-size: 16px;
      border: 0;
  }
  .desc{
    font-weight: 300;
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
  }

  .video iframe{
      border-radius: 3px;
  }
  iframe[name="page"] {
    width: 100%;
    min-height: 400px;
  }
  .link-title{
      color: rgb(31, 173, 166);
  }

