* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  text-decoration: none;
}
form {
  width: 500px;
  margin: 50px auto;
  background-color: rgb(101, 141, 175);
  box-shadow: 0 0 2px rgb(221, 120, 20);
  border-radius: 5px;
  padding: 10px;
}
form h1 {
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  margin-bottom: 20px;
}
.form-group lable{
    font-family: montserrat;
    display: block;
}
.form-control{
    width: 100%;
    height: 32px;
    padding: 0;
    box-shadow: 0 0 1px rgb(1, 30, 29);
    border: none;
    outline: none;
    border-radius: 3px;
}
.form-control:focus{
    background-color: rgb(103, 204, 204);
    color: white;
}
form button{
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 2px rgb(73, 208, 73);
    background-color: #fff;
    border-right: 1px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
form button:hover{
  background-color:rgb(103, 204, 204);
  color: white;
}
textarea.form-control{
    padding: 5px;
    height: 100px;
}